{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "describe": false,
    "it": false,
    "expect": false
  },
  "rules": {
  }
}
