extends layout
block style
  link(rel='stylesheet', href='/dist/styles/index.css')

block content
  header
    nav(class='navbar navbar-default')
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="#") Template
  section
    h1= title
    p Welcome to #{title}
  footer

block script
  script(type='text/javascript', src='/dist/scripts/index.js')
