doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/dist/styles/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/dist/styles/vendor/bootstrap-theme.min.css')
  body
    block content
    script(type='text/javascript', src='/dist/scripts/vendor/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/dist/scripts/vendor/bootstrap.min.js')
