doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/styles/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/dist/styles/vendor/bootstrap-theme.min.css')
  body
    block content
    script(type='text/javascript', src='/dist/scripts/vendor/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/dist/scripts/vendor/bootstrap.min.js')
